
body {
	font:14px/20px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; color:#464646;
}

hr {
	border:0 #ccc solid;
	border-top-width:1px;
	clear:both;
	height:0
}

h1, h2, h3, h4, h5, h6 {
	margin:10px 0;
	color:#a40820;
	font-weight:normal
}

h1 {
	font-size:24px;
	line-height:25px;
	margin-top:0;
	letter-spacing:-1px
}

h2 {
	font-size:18px;
}

h3 {
	font-size:14px
}

h4 {
	font-size:12px
}

h5 {
	font-size:11px
}

h6 {
	font-size:10px
}

ol {
	list-style:decimal
}

ol li {
	margin-left:40px
}

ul {
	list-style:none;
}

#tinymce ul li, #content ul li {
	background:url(../img/elements/ul-li.png) 0 7px no-repeat;
	padding-left:10px;
	margin-left:30px;
	padding-bottom: 5px;
}

p, dl, hr, ol, ul, pre, table, address, fieldset, blockquote {
	margin-bottom:15px
}

ol ol, ol ul, ul ul, ul ol {
	margin-bottom:0
}

blockquote {
	background:#eee url(../img/elements/blockquote.png) 10px 20px no-repeat;
	padding:20px 20px 20px 30px
}

cite {
	display:block;
	text-align:right;
	font-style:italic;
	color:#666
}

a {
	color:#21a4a0;
	text-decoration:none
}

a:hover {
	text-decoration:underline
}

a:focus {
	outline:0
}

.external-link {
	padding-right:15px;
	background:url(../img/elements/external-link.gif) right center no-repeat;
}

.pdf {
	padding-right:15px;
	background:url(../img/elements/pdf.png) right center no-repeat;
}

strong {
	font-weight:bold
}

em {
	font-style:italic
}

.jcepopup {
	display:block;
	float:left;
	margin:0 10px 15px 0
}
