
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}

ol, ul {
	list-style:none
}

blockquote, q {
	quotes:none
}

blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}

ins {
	text-decoration:none
}

del {
	text-decoration:line-through
}

table {
	border-collapse:collapse;
	border-spacing:0
}



/*GENERAL SETTINGS*/
html {
	background:url(../img/elements/content-stripe-bg.jpg) repeat top left;
}

body {

	min-width:960px;
}

#page-wrap {


	}

#top, #skip-navigation {
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	height:0;
	text-indent:-99999px
}

.xmap, #page {
	margin-bottom:15px;
}

.xmap ul {
	margin-bottom:0
}

/*forms*/
fieldset {
	border:1px solid #ccc;
	margin:10px 0;
	padding:10px
}

legend {
	font-weight:bold;
	font-size:14px
}

form ol, form ul {
	list-style:none;
	margin:0;
	padding:0
}

#tinymce form ul li, #content form ul li {
	margin:0 0 5px 0
}

label {
	display:block
}

input {
}

button, .button {
}

.inputbox, .textarea, .select {
	border:1px solid #ccc;
	font-family:inherit;
	font-size:inherit;
	padding:2px;
	width:379px
}

.radio-group, .checkbox-group {
}

.radio-group label, .checkbox-group label {
	display:block
}

.radio-group input, .checkbox-group input {
	display:block;
	border:none;
	float:left;
	width:auto;
	margin-right:5px
}

.checkbox-group { 
}

.radio-group {
}

form span.error{
	color: #8f0b20 !important;
}
.success{
	color: #4c9bb0;
}
/*tables*/

table.noborders{
		border-right:0px solid #666;
	border-top:0px solid #666;
}

table.noborders td{
	border-bottom:0px solid #666;
	border-left:0px solid #666;
	padding:5px 15px;
}

table.noborders th{
	background:#eee;
	border-bottom:0px solid #666;
	border-left:0px solid #666;
	padding:5px;
	text-align:center
}

table {
	border-collapse:collapse; /*border:none;*/
	border-right:1px solid #666;
	border-top:1px solid #666;
	margin-bottom:10px
}

td {/*border:none;*/
	border-bottom:1px solid #666;
	border-left:1px solid #666;
	padding:5px
}

th {/*border:none;*/
	background:#eee;
	border-bottom:1px solid #666;
	border-left:1px solid #666;
	padding:5px;
	text-align:center
}

/*search results*/
.highlight {
	background:#FF9
}

.results ol li p, .results ol li .small {
	display:none
}

/*TEMPLATE SETTINGS*/
#page-wrap {
	margin:0 auto 0px auto
}

.wrap {
}

.container_12 {
	background:none;
}

.moduletable {
	display:inline;
	float:left;
	margin-left:10px;
	margin-right:10px
}

.moduletable.alpha {
	margin-left:0
}

.moduletable.omega {
	margin-right:0
}

.menu span {
	cursor:pointer;
	overflow:hidden
}

#top {
	visiblity:hidden;
	height:0;
	width:0;
	position:absolute;
	top:1px;
	left:1px
}

#drawer-wrap {
}

#drawer {
	color:#fff;
	background:#000;
	text-align:right;
}

#drawer p {
	margin-bottom:0;
	float:right;
}

#header-outter-wrap{
	background:url(../img/elements/header-bg-repeat.jpg) top left repeat-x;
}

#header-wrap {
	background:url(../img/elements/header-bg.jpg) top center no-repeat;
	width:100%;
	margin:0 auto;
}

#header {
	height:270px;
	position:relative;
}

#logo {
    display: block;
    float: left;
    position: relative;
    top: 45px;

}

.header-contact{
    position: absolute;
    right: 19px;
    top: 34px;
}
.header-contact h2{
	color:#21a4a0;
	font-weight:bold;
	font-size:18px;
	text-transform:uppercase;
	margin: 0;
}

.header-contact p{
	color:#b20f28;
	font-weight:normal;
	font-size:11px;

}

.header-contact a{
	color:#b20f28;


}

#header-wrap .moduletable {
	float:right;
	margin:0 0 0 10px
}

.search {
}

.search .inputbox {
}

.search .button {
}

#navigation-wrap {
    left: 0;
    position: relative;
    top: 92px;
}

#navigation {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
    position: relative;
    width: 877px;
    z-index: 999;
}

#navigation ul {
	list-style:none;
	margin:0
}

#navigation li {
	float:left;
	margin:0
}

#navigation a {
	display:block;
	color:#fff;
	font-size:14px;
}

#navigation a:hover {
	text-decoration:none;
}

#navigation span {
	display:block;
	cursor:pointer;
	padding:10px 10px 11px 10px;
	overflow:hidden;
}
#navigation ul li a:hover span,
#navigation ul li.active span{
	background-color: #900c21;
}
#navigation ul li.active li a span{
	background-color: #b20f28; 
} 
#navigation ul li.active li a:hover span,
#navigation ul li.active li.active a span{
	background-color: #900c21; 
}

#navigation li ul {
	left:-9999px;
	margin: 0;
	position:absolute;
	background-color: transparent;
	border: 0;
	padding-top: 3px;
}

#navigation li ul li a {
	background-color: #b20f28;
}

#navigation li li {
	float:left;
	clear:both;
	width:220px
}

#navigation li ul a {
	border-bottom:1px solid #fff;
	background:#eee
}

#navigation li ul ul {
	margin:-175px 0 0 221px
}

#navigation li:hover ul ul, #navigation li:hover ul ul ul {
	left:-9999px
}

#navigation li:hover ul, #navigation li li:hover ul, #navigation li li li:hover ul {
	left:auto
}

#navigation li:hover, #navigation li.hover {
	position:static
}

#navigation .item65 {
	display:none
}

#featured-content-wrap {
	position:relative;
	z-index:1
}

#featured-content {
	background:#fff;
}

#slideshow {
	border:1px solid #c4bec7;
	min-height:300px;/*Adjust this value*/
	background:url(../../../images/loading.gif) center center no-repeat;

}

#breadcrumb-wrap {
}

#breadcrumb {
}

#breadcrumb .label {
	color:#ccc
}

#popular-items{
	background:#fff;
	padding:10px 0;
}

p.popular-items-title{
	color:#0cb2b0;
	float:left;
	font-size:12px;
	width:300px;
	text-align:left;
	margin-bottom:0px;
}

p.click-for-products{
	color:#898989;
	float:right;
	font-size:12px;
	width:300px;
	text-align:right;
	margin-bottom:0px;
}

#showcase-boxes{
	background:#FFFFFF;
    padding-bottom: 35px;
}

.showcase-box{
  background: none repeat scroll 0 0 #23A2BD;
    border: 8px solid #E4E2CD;
    color: #FFFFFF;
    min-height: 463px;
    padding: 0 6px 6px;
}

.showcase-box h2{
    background: url("../img/elements/showcase-box-header.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    height: 40px;
    left: -19px;
    margin: 0 0 10px !important;
    padding: 11px 0 0 11px;
    position: relative;
    text-transform: uppercase;
    top: 2px;
    width: 239px;
}

#content-wrap {
	position:relative;
	z-index:1
}

#content {
	background:#fff;
}

#sidebar .menu {
	padding:0;
	margin:0;
	list-style:none;
	float:left;
	width:220px
}

#sidebar .menu li {
	position:relative;
	float:left;
	margin:0;
	width:220px
}

#sidebar ul {
	list-style:none
}

#sidebar .menu li {
	float:left;
	clear:both
}

#sidebar .menu li ul {
	position:absolute;
	left:-999em;
	margin:-41px 0 0 220px
}

#sidebar .menu li ul ul {
	left:-999em
}

#sidebar .menu li a {
	width:220px;
	display:block
}

#sidebar .menu li:hover ul ul, #sidebar .menu li:hover ul ul ul {
	left:-999em
}

#sidebar .menu li:hover ul, #sidebar .menu li li:hover ul, #sidebar .menu li li li:hover ul {
	left:auto
}

#sidebar .menu li:hover, #sidebar .menu li.hover {
	position:static
}

#sidebar .navigation a:hover {
}

#sidebar .navigation .active {
}

#sidebar .navigation .parent {
}

#sidebar .navigation .parent span {
}

#sidebar span {
	padding:10px;
	width:200px;
	display:block;
	overflow:hidden;
	border-top:1px solid #fff;
	display:block;
	cursor:pointer;
	background:#eee
}

#sidebar .item51 {
}

#sidebar .item65 {
	display:none
}

#sidebar {
}

#sidebar .moduletable {
	width:220px;
	margin:0 0 20px
}

#main-content {
}

#main-content .moduletable {
}

#one-column {
}

#one-column .moduletable, #one-column-super .moduletable {
	margin:0 0 20px;
	width:940px
}

#main-content #one-column .moduletable, #main-content #one-column-super .moduletable {
	width:700px
}

#two-columns-uneven {
}

#two-columns-uneven .moduletable.wider {
	width:620px
}/*requires a unique class (.wider) to be added to one of the modules*/

#two-columns-uneven .moduletable.narrower {
	width:300px
}/*requires a unique class (.narrower) to be added to one of the modules*/

#main-content #two-columns-uneven .moduletable.wider {
	width:380px
}

#main-content #two-columns-uneven .moduletable.narrower {
	width:300px
}

#two-columns {
}

#two-columns .moduletable {
	width:460px
}

#main-content #two-columns .moduletable {
	width:340px
}/*Does not comply with 12 column GS*/

#three-columns {
}

#three-columns .moduletable {
	width:300px
}

#main-content #three-columns .moduletable {
	width:220px
}

#four-columns {
}

#four-columns .moduletable {
	width:220px
}

#main-content #four-columns .moduletable {
	width:160px
}/*Does not comply with 12 column GS*/

#footer-wrap {
}

#footer {
    background: url("../img/elements/footer-bg.png") no-repeat scroll center top transparent;
    font-size: 12px;
    height: 124px;
    padding-left: 16px;
    padding-top: 11px;
    width: 965px;
}

#footer .menu {
    list-style: none outside none;
    margin: 0;
    width: 646px;
}

#footer .menu li {
	display:inline;
	margin:0 20px 0 0
}

#footer .menu .item51 {
}

#footer .menu .item65 {
	margin-right:0
}

#footer a {
	font-size:12px;
	color:#fff;
}

#footer .moduletable {
}

#copyright {
	float:right;
	margin-bottom:0;
	text-align:right;
	font-size:12px;
	color:#fff;

}

.footer-social-icons{
	position:relative;
	top:46px;
	left:0px;
	}


.contentpaneopen_edit {
	display:none
}
form#mailinglist_form{
    background: url("../img/elements/mailing-list-bg.png") no-repeat scroll left top transparent;
    height: 40px;
    padding: 33px 15px 0 21px;
    position: relative;
    right: 0px;
    top: 96px;
    width: 346px;
}

form#mailinglist_form li{
	margin-left:0px;
}


form#mailinglist_form .inputbox,form#mailinglist_form .textarea,form#mailinglist_form .select {
    border: 1px solid #CCCCCC;
    font-family: inherit;
    font-size: inherit;
    padding: 2px;
    width: 141px;
}

form#mailinglist_form input{
	float:left;
	background:#85c5c1;
	border:1px solid #21a4a0!important;
	color:#fff;

}

form#mailinglist_form input#name{
	margin-right:5px;
}

form#mailinglist_form fieldset {
    border: medium none;
    margin: 0;
    padding: 0;
}

form#mailinglist_form button, form#mailinglist_form .button{
    background-color: transparent;
    background-image:none;
    background-position: 1px -3px;
    background-repeat: no-repeat;
    border: medium none;
    height: 23px;
    width: 44px;
	cursor:pointer;
}

/* UPDATES 04/17/14 */

.distribution_image{
  float: left;
  text-align:center;
}
.distribution_image.image_left{
  width: 50%;
}
.distribution_image.image_right{
  width: 45%;
}
.distribution_image p a{
  display: block;
  position:relative;
}
.distribution_image p img{
  position:relative;
  z-index: 100;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.distribution_image p img.default{
  position: relative;
  margin: 0 auto;
}
.distribution_image p img.default:hover{
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.distribution_image p img.hoverstate{
  position:absolute;
  z-index: 50;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* UPDATES 10/28/14 */
#event_form .control-group{
	padding-bottom: 10px;
}
#event_form .side{
	float:left;
	margin-right: 15px;
}
#event_form .close{
	margin-right: 5px;
}
#event_form input[type="text"],
#event_form textarea{
	width: 200px;
	padding: 7px 5px;
	border: 1px solid #ccc;
}
#event_form textarea{
	width: 415px;
}
#event_form input.small{
	width: 86px;
}
#event_form input.short{
	width: 45px;
}
#event_form input.large{
	width: 300px;  
}
#event_form sub{
	font-size: 11px;
}
#event_form h3{
	margin-bottom: 0;
}
#event_form .checkboxes{
	margin-top: 10px;
}
#event_form .checkboxes sub{
	margin-left: 23px;
}
#event_form .checkboxes label{
	margin-bottom: 5px;
}
#event_form .required{
	color: #b30f28;
}
#event_form .checkboxes label sub{
	margin-left: 0;
}
#event_form label.error{
	position:absolute; 
	display:none !important;
}
#event_form input.error{
	border-color: #a40820;
}
#event_form input[type="submit"]{
	padding: 10px 15px;
	border: 1px solid white;
	border-radius: 20px;
	background-color: #23ada4;
	color: white;
	font-weight: bold;
	font-size: 14px;
	cursor:pointer;
}
.general_button{
	padding: 10px 15px;
	border-radius: 20px;
	background-color: #23ada4;
	color: white;
	font-weight: bold;
	font-size: 14px;
	cursor:pointer;
}
#event_form input[type="submit"]:hover,
#event_form input[type="submit"]:active,
.general_button:hover,
.general_button:active{
	background-color: #52a5be;
	text-decoration:none;
}
hr{
	margin-bottom: 17px !important;
	margin-top: 17px !important;
}
h1{
	margin-bottom: 23px !important;
}
.home_cta a.button{
	padding: 10px 15px;
	border-radius: 20px;
	font-weight:bold;
	color:#a40820 !important;
	background-color: #E4E2CD !important;
	width: 110px;
	display:block;
	text-align:center;
	margin: 0 auto;
	font-size: 14px;
}
.home_cta a.button:hover,
.home_cta a.button:active{
	text-decoration:none;
	background-color: #fff !important;
}

