<p>
	<strong><em>Ice Cream Sundae Event Form</em></strong><br/><br/>

  <strong><em>Contact Information</em></strong><br/><br/>

  <strong>First Name:</strong> [[+yfname]] <br/>
  <strong>Last Name:</strong> [[+ylname]] <br/>
  <strong>Phone #:</strong> [[+yphone]] <br/>
  <strong>Cell #:</strong> [[+ycell]] <br/>
  <strong>Email:</strong> [[+email]] <br/>
  <strong>Event/Company:</strong> [[+ccompany]]<br/><br />
  
  <strong><em>Alternate Contact Information</em></strong><br/><br/>
  
  <strong>Full Name:</strong> [[+aname]] <br/>
  <strong>Phone #:</strong> [[+aphone]] <br/>
  <strong>Email:</strong> [[+aemail]] <br/><br/>
  
  <strong><em>Event Information</em></strong><br/><br/>
  
  <strong>Name of Location:</strong> [[+eventlocation]] <br/>
  <strong> Street Address:</strong> [[+eventstreet]] <br/>
  <strong>City, State, Zip:</strong> [[+eventcity]], [[+eventstate]] [[+eventzip]] <br/>
	<strong>Event Date:</strong> [[+eventdate]] <br/>
	<strong>Event Time:</strong> [[+eventtimestart]] to [[+eventtimeend]]<br/>
	<strong>Type of Event:</strong> [[+eventtype]] <br/>
	<strong># of People Serving:</strong> [[+eventnumber]] <br/><br/>
	
	<strong><em>Billing Information</em></strong><br/><br/>
  
  <strong>Same as contact information:</strong> [[+samebilling_values]]<br/>
  <strong>First Name:</strong> [[+bfname]]<br/>
  <strong>Last Name:</strong> [[+bflname]]<br/>
  <strong>Phone #:</strong> [[+billingphone]] <br/>
  <strong>Cell #:</strong> [[+billingcell]] <br/>
  <strong>Email:</strong> [[+email]] <br/>
  <strong>Street Address:</strong> [[+billingstreet]] <br/>
  <strong>City, State, Zip:</strong> [[+billingcity]], [[+billingstate]] [[+billingzip]]<br/>
  <strong>Fax #:</strong> [[+billingfax]] <br/><br/>
	
	<strong><em>Payment</em></strong><br/><br/>
	
	<strong>Payment Type:</strong> [[+paymenttype_values]]<br />
	<strong>Tax exempt?:</strong> [[+exempt_values]]<br />  
	<strong>Tax ID #:</strong> [[+taxid]]<br />
	<strong>How did you hear about us?:</strong> [[+hearabout_values]]<br /><br />
</p>
