[[!+fi.successMessage]]
[[!+fi.validation_error_message]]
[[!FormIt?
  &hooks=`spam,fiProcessArrays,FormSave,email`
  &emailTo=`[[*event_form_email]]`
  &emailTpl=`tpl-email_ice_cream_truck`
  &emailSubject=`You have received an ice cream truck event form`
  &emailFrom=`noreply@southernicecreamtx.com`
  &clearFieldsOnSuccess=`0`
  &fsFormTopic=`event - ice cream truck form`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &validationErrorMessage=`<span class="error">Form not submitted. Please check for errors.</span><br />`
  &store=`1`
  &storeTime=`1800`
  &validate=`
  username:blank,
  yfname:required,
  ylname:required,
  yphone:required,
  ycell:required,
  email:email:required,
  aname:required,
  aphone:required,
  billingstreet:required,
  billingcity:required,
  billingstate:required,
  billingzip:required,
	eventlocation:required,
	eventstreet:required,
	eventcity:required,
	eventstate:required,
	eventzip:required,
	eventdate:required,
	eventtimestart:required,
	eventtimeend:required,
  eventtype:required,
  eventnumber:required,
  reserve_values:required`
]] 
[[!FormItRetriever]]
		
		<form class="form-horizontal" name="contact_form" id="event_form" method="post" action="[[~[[*id]]]]">
      <input type="hidden" name="username" value="" />
      <input type="hidden" name="reserve_values[]" value="" />
      <input type="hidden" name="exempt_values[]" value="" />
      <input type="hidden" name="paymenttype_values[]" value="" />
      <input type="hidden" name="samebilling_values[]" value="" />
      <input type="hidden" name="music_values[]" value="" />
      <input type="hidden" name="hearabout_values[]" value="" />
      
      <h2>Your Contact Information</h2>

      <div class="control-group side">
        <label class="control-label" for="yfname">First Name <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="yfname"  name="yfname" value="[[!+fi.yfname]]" required>
          [[!+fi.error.yfname]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
        <label class="control-label" for="ylname">Last Name <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="ylname"  name="ylname" value="[[!+fi.ylname]]" required>
          [[!+fi.error.ylname]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="eventcompany">Event/Company</label>
        <div class="controls">
          <input type="text" id="eventcompany"  name="eventcompany" value="[[!+fi.eventcompany]]">
          [[!+fi.error.eventcompany]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
        <label class="control-label" for="yphone">Phone #<span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="yphone"  name="yphone" value="[[!+fi.yphone]]" required>
          [[!+fi.error.yphone]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
        <label class="control-label" for="ycell">Cell #<span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="ycell"  name="ycell" value="[[!+fi.ycell]]" required>
          [[!+fi.error.ycell]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="email">Email <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="email"  name="email" value="[[!+fi.email]]" class="large" required>
          [[!+fi.error.email]]
        </div><!--/.controls-->
      </div><!--/.control-group--> 
      
      <h2>Alternate Contact Information</h2>
      
      <div class="control-group side">
        <label class="control-label" for="aname">Full Name <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="aname"  name="aname" value="[[!+fi.aname]]" required>
          [[!+fi.error.aname]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
        <label class="control-label" for="aphone">Phone # <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="aphone"  name="aphone" value="[[!+fi.aphone]]" required>
          [[!+fi.error.aphone]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      
      <div class="control-group">
        <label class="control-label" for="aemail">Email</label>
        <div class="controls">
          <input type="text" id="aemail"  name="aemail" value="[[!+fi.aemail]]" class="large">
          [[!+fi.error.aemail]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
       
        <h2>Event Information</h2>
        
        <div class="control-group">
        <label class="control-label" for="eventlocation">
        	Name of Location <span class="required">*</span>
        	<sub>(venue, residence, etc.)</sub>
        </label>
        <sub>Note: Public areas and parks may be restricted.</sub>
        <div class="controls">
          <input type="text" id="eventlocation"  name="eventlocation" value="[[!+fi.eventlocation]]" required>
          [[!+fi.error.eventlocation]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
        
      <div class="control-group side">
        <label class="control-label" for="eventstreet">Street Address <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="eventstreet"  name="eventstreet" value="[[!+fi.eventstreet]]" class="large" required>
          [[!+fi.error.eventstreet]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group side">
        <label class="control-label" for="eventcity">City <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="eventcity"  name="eventcity" value="[[!+fi.eventcity]]" required>
          [[!+fi.error.eventcity]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
        <label class="control-label" for="eventstate">State <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="eventstate"  name="eventstate" value="[[!+fi.eventstate]]" class="short" required>
          [[!+fi.error.eventstate]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
       <div class="control-group">
        <label class="control-label" for="eventzip">Zip <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="eventzip"  name="eventzip" value="[[!+fi.eventzip]]" required>
          [[!+fi.error.eventzip]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
        <label class="control-label" for="eventdate">Event Date <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="eventdate"  name="eventdate" value="[[!+fi.eventdate]]" class="datepicker" required>
          [[!+fi.error.eventdate]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side ">
        <label class="control-label" for="eventtimestart">Start Time <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="eventtimestart"  name="eventtimestart" value="[[!+fi.eventtimestart]]" class="small" required>
          [[!+fi.error.eventtimestart]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="eventtimeend">End Time <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="eventtimeend"  name="eventtimeend" value="[[!+fi.eventtimeend]]" class="small" required>
          [[!+fi.error.eventtimeend]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <sub>* 1 hour of service included with 100 servings, additional time may be requested with service fee</sub>

			<div class="control-group">
        <label class="control-label" for="eventtype">
        	Type of Event <span class="required">*</span>
        	<sub>(e.g birthday, corporate event, church, etc.)</sub>
        </label> 
        <div class="controls">
          <input type="text" id="eventtype"  name="eventtype" value="[[!+fi.eventtype]]" required>
          [[!+fi.error.eventtype]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="eventnumber"># of People or Ice Cream Servings <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="eventnumber"  name="eventnumber" value="[[!+fi.eventnumber]]" required>
          [[!+fi.error.eventnumber]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group checkboxes">
        <label class="control-label" for="reserve_values">Which Ice Cream Truck are you reserving? <span class="required">*</span></label>
        <div class="controls">
          <input type="checkbox" id="reserve_tradvan"  name="reserve_values[]" value="Traditional Ice Cream Van" [[!+fi.reserve_values:FormItIsChecked=`Traditional Ice Cream Van`]]>
          Traditional Ice Cream Van<br />
          <sub>* Minimum order $250/100 servings @ $2.50 each</sub><br />
          <input type="checkbox" id="reserve_snowcone"  name="reserve_values[]" value="Snow Cone and Ice Cream Truck" [[!+fi.reserve_values:FormItIsChecked=`Snow Cone and Ice Cream Truck`]]>
          Snow Cone & Ice Cream Truck<br />
          <sub>* Minimum order $300/100 servings @ $3 each</sub><br />
          <input type="checkbox" id="reserve_goodhumorvintage"  name="reserve_values[]" value="Good Humor Vintage Ice Cream Truck" [[!+fi.reserve_values:FormItIsChecked=`Good Humor Vintage Ice Cream Truck`]]>
          Good Humor Vintage Ice Cream Truck<br />
          <sub>* Minimum order $700/200 servings @ $3.50 each</sub><br />
          <sub>* Location restrictions & additional cost may apply</sub><br />
          [[!+fi.error.reserve_values]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group checkboxes">
        <label class="control-label" for="music_values">
        	Music <sub>(traditional ice cream truck music)</sub>
        </label>
        <div class="controls">
        	<input type="radio" id="music_on"  name="music_values[]" value="On" [[!+fi.music_values:FormItIsChecked=`On`]]>On<br />
          <input type="radio" id="music_off"  name="music_values[]" value="Off" [[!+fi.music_values:FormItIsChecked=`Off`]]>Off<br />
          [[!+fi.error.music_values]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="comments">Special Instructions</label>
        <div class="controls">
          <textarea rows="5" id="comments" name="comments" type="text">[[!+fi.comments]]</textarea>
          [[!+fi.error.comments]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <h2>Billing Information</h2>
      
    <div class="control-group checkboxes">
        <div class="controls">
          <input type="checkbox" id="samebilling_values"  name="samebilling_values[]" value="Same as above" [[!+fi.samebilling_values:FormItIsChecked=`Same as above`]]>
          Same as contact information<br />
          [[!+fi.error.samebilling_values]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
        <label class="control-label" for="bfname">First Name </label>
        <div class="controls">
          <input type="text" id="bfname"  name="bfname" value="[[!+fi.bfname]]" >
          [[!+fi.error.bfname]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
        <label class="control-label" for="blname">Last Name </label>
        <div class="controls">
          <input type="text" id="blname"  name="blname" value="[[!+fi.blname]]" >
          [[!+fi.error.blname]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="cpurchase">Purchase Order #</label>
        <div class="controls">
          <input type="text" id="cpurchase"  name="cpurchase" value="[[!+fi.cpurchase]]">
          [[!+fi.error.cpurchase]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
      <label class="control-label" for="billingphone">Phone # </label>
        <div class="controls">
          <input type="text" id="billingphone"  name="billingphone" value="[[!+fi.billingphone]]" >
          [[!+fi.error.billingphone]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
      <label class="control-label" for="billingcell">Cell # </label>
        <div class="controls">
          <input type="text" id="billingcell"  name="billingcell" value="[[!+fi.billingcell]]" >
          [[!+fi.error.billingcell]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
       <div class="control-group">
        <label class="control-label" for="bemail">Email</label>
          <div class="controls">
            <input type="text" id="bemail" name="bemail" value="[[!+fi.bemail]]" class="large" >
            [[!+fi.error.bemail]]
          </div><!--/.controls-->
        </div><!--/.control-group-->
        
 
      <div class="control-group side">
        <label class="control-label" for="billingstreet">Street Address <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="billingstreet"  name="billingstreet" value="[[!+fi.billingstreet]]" class="large" required>
          [[!+fi.error.billingstreet]]
        </div><!--/.controls-->
      </div><!--/.control-group-->

      <div class="control-group side">
        <label class="control-label" for="billingcity">City <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="billingcity"  name="billingcity" value="[[!+fi.billingcity]]" required>
          [[!+fi.error.billingcity]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group side">
        <label class="control-label" for="billingstate">State <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="billingstate"  name="billingstate" value="[[!+fi.billingstate]]" class="short" required>
          [[!+fi.error.billingstate]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="billingzip">Zip <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="billingzip"  name="billingzip" value="[[!+fi.billingzip]]" required>
          [[!+fi.error.billingzip]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      
      <div class="control-group">
      <label class="control-label" for="billingfax">Fax #</label>
        <div class="controls">
          <input type="text" id="billingfax"  name="billingfax" value="[[!+fi.billingfax]]" >
          [[!+fi.error.billingfax]]
        </div><!--/.controls-->
      </div><!--/.control-group-->  


      
      <h2>Payment</h2>
      <h3>Payment must be received prior to event or at the time of delivery.</h3>
      <sub>Note: All cancellations must be received within 48 hours. Failure to do so will result in 20% of your total order due upon cancellation.</sub>

      <div class="control-group checkboxes">
        <label class="control-label" for="paymenttype_values">Payment Type</label>
        <div class="controls">
        	<input type="radio" id="paymenttype_cc"  name="paymenttype_values[]" value="Credit Card" [[!+fi.paymenttype_values:FormItIsChecked=`Credit Card`]]>Credit Card<br />
          <input type="radio" id="paymenttype_cash"  name="paymenttype_values[]" value="Cash" [[!+fi.paymenttype_values:FormItIsChecked=`Cash`]]>Cash<br />
          <input type="radio" id="paymenttype_check"  name="paymenttype_values[]" value="Business Check" [[!+fi.paymenttype_values:FormItIsChecked=`Business Check`]]>Business Check<br />
          [[!+fi.error.paymenttype_values]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group checkboxes">
        <label class="control-label" for="exempt_values">Are you tax exempt?</label> 
        <div class="controls">
          <input type="radio" id="exempt_no"  name="exempt_values[]" value="No" [[!+fi.exempt_values:FormItIsChecked=`No`]]>No<br />
          <input type="radio" id="exempt_yes"  name="exempt_values[]" value="Yes" [[!+fi.exempt_values:FormItIsChecked=`Yes`]]>Yes<br />
          <sub>* If yes, please fax or email your signed tax certificate</sub><br />
          [[!+fi.error.exempt_values]]
        </div><!--/.controls-->
      </div><!--/.control-group--> 
      
      <div class="control-group">
        <label class="control-label" for="taxid">Texas Tax ID #</label>
        <div class="controls">
          <input type="text" id="taxid"  name="taxid" value="[[!+fi.taxid]]" placeholder="0-00-0000000-0"><br />
          <sub>* ID # must contain 11 digits</sub><br />
          [[!+fi.error.taxid]] 
        </div><!--/.controls-->
      </div><!--/.control-group-->

       <div class="control-group checkboxes">
        <label class="control-label" for="hearabout_values">How did you hear about us?</label> 
        <div class="controls">
          <input type="radio" id="hearabout_internet"  name="hearabout_values[]" value="Internet" [[!+fi.hearabout_values:FormItIsChecked=`Internet`]]>Internet<br />
          <input type="radio" id="hearabout_businessjournal"  name="hearabout_values[]" value="Business Journal" [[!+fi.hearabout_values:FormItIsChecked=`Business Journal`]]>Business Journal<br />
          <input type="radio" id="hearabout_friend"  name="hearabout_values[]" value="Friend" [[!+fi.hearabout_values:FormItIsChecked=`Friend`]]>Friend<br />
          <input type="radio" id="hearabout_client"  name="hearabout_values[]" value="Return Client" [[!+fi.hearabout_values:FormItIsChecked=`Return Client`]]>Return Client<br />
          <input type="radio" id="hearabout_business"  name="hearabout_values[]" value="Business Associate" [[!+fi.hearabout_values:FormItIsChecked=`Business Associate`]]>Business Associate<br />
          <input type="radio" id="hearabout_focus"  name="hearabout_values[]" value="Focus" [[!+fi.hearabout_values:FormItIsChecked=`Focus`]]>Focus<br />
          <input type="radio" id="hearabout_mail"  name="hearabout_values[]" value="Mail" [[!+fi.hearabout_values:FormItIsChecked=`Mail`]]>Mail<br />
          <input type="radio" id="hearabout_other"  name="hearabout_values[]" value="Other" [[!+fi.hearabout_values:FormItIsChecked=`Other`]]>Other<br />
          [[!+fi.error.hearabout_values]]
        </div><!--/.controls-->
      </div><!--/.control-group-->


        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Submit Form" id="form_submit" class="general_button" />
          </div><!--/.controls-->
        </div><!--/.control-group-->
      </form>
