<div class="clear"></div>
<div id="footer-wrap" class="wrap">
		<div id="footer" class="container_12">
			<div class="grid_8 alpha">
			  <span style="color:white;">Southern Ice Cream, Corp. 13755 Greenland Dr. Stafford, TX 77477</span>
						<div class="moduletable  footer-social-icons alpha omega">
							<p><a href="http://www.twitter.com/southernic" target="_blank"><img style="margin-right: 13px; float: left;" alt="twitter" src="/assets/img/elements/twitter.png" width="36" height="35" /></a><a href="http://www.fb.com/southernicecream" target="_blank"><img style="float: left;" alt="facebook" src="/assets/img/elements/facebook.png" width="35" height="35" /></a>&nbsp; &nbsp;<a href="http://www.iaicdv.org"><img src="/assets/img/elements/thumb_iaicdvlogoblack.jpg" width="42" height="42" alt="thumb_iaicdvlogoblack" /></a>&nbsp;<a title="Southern Ice Cream Corp. BBB Business Review" href="http://www.bbb.org/houston/business-reviews/ice-cream-cone-manufacturers-and-distributors/southern-ice-cream-corp-in-stafford-tx-90008277/#bbbonlineclick"><img alt="Southern Ice Cream Corp. BBB Business Review" style="border-style: initial; border-color: initial; border-image: initial; border-width: 0px;" src="http://seal-houston.bbb.org/seals/blue-seal-200-42-southern-ice-cream-corp-90008277.png" /></a></p>
							<script>
							  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
							  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
							  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
							  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
							
							  ga('create', 'UA-28312460-11', 'southernicecreamtx.com');
							  ga('send', 'pageview');
							
							</script>		
						</div>
					</div><!--div.grid_12-->
				<p id="copyright" class="grid_4 alpha">&copy; 2014 Southern Ice Cream. All rights reserved.</p><!--div#copyright-->
			<div class="clear"></div>
		</div><!--div#footer-->
	</div><!--div#footer-wrap-->
  <div class="clear"></div> 
  
  [[*id:is=`15`:or:if=`[[*id]]`:is=`16`:or:if=`[[*id]]`:is=`17`:then=`
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
		<script src="/assets/js/vendor/jquery.validate.min.js"></script> 
		<script src="/assets/js/vendor/zebradatepicker.js"></script>
		<script src="/assets/js/plugins.js"></script>
		<script src="/assets/js/main.js"></script>
  `]]
   

    
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37120401-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>