<div id="page-wrap">
	<a name="top" id="top"></a>
	<a name="skip-navigation" id="skip-navigation" href="#main-content">Skip to the content</a>
	<div id="header-outter-wrap">
		<div id="header-wrap" class="wrap">
			<div id="header" class="container_12">
				<a href="/" id="logo" class="grid_4">
					<img src="/assets/img/elements/logo.png" alt="logo" width="291" height="120" />
				</a><!--a#logo-->
				<div class="grid_8">
					<div class="moduletable alpha omega">
						<p><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=j58vmkeab&amp;p=oi&amp;m=1104155439049&amp;sit=7z6ca7ufb&amp;f=b39609ff-8779-44db-932e-12cd0900f163" class="button" style="background-color: #23ada4; border: 1px solid transparent; color: #ffffff; display: block; padding: 10px 12px; text-shadow: none; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; font-weight: bold; margin-top: 117px; margin-bottom: -117px; text-decoration: none;" target="_blank">Join Our Mailing List</a></p>
					</div>
					<div class="moduletable  header-contact">
						<h2>Southern Ice Cream Corp.</h2>
						<p>P&nbsp; 281-499-9837&nbsp;&nbsp; |&nbsp;&nbsp; E&nbsp; <a href="mailto:info@southernicecreamtx.com">info@southernicecreamtx.com</a></p>		
						</div>
				</div><!--div.grid_8-->
				<div class="clear"></div>
        <div id="navigation-wrap" class="wrap">
					<div id="navigation" class="container_12">
						<div class="grid_12 alpha omega">
							[[Wayfinder? &startId=`0` &outerClass=`menu` &rowTpl=`wf-rowTpl` &level=`2`]]
						</div><!--div.grid_12.alpha.omega-->
						<div class="clear"></div>
					</div><!--div#navigation-->
				</div><!--div#navigation-wrap-->
			</div>
		</div><!--div#header-wrap-->
	</div><!--div#header-outter-wrap-->
	