<p>
  Full Name: [[+full-name]] <br/><br/>
  Business Name: [[+business-name]]<br/><br/>
  E-mail Address: [[+email]] <br/><br/>
  Phone Number: [[+phone]] <br/><br/>
  Address: [[+address]] <br/><br/>
  City: [[+city]] <br/><br/>
  State: [[+state]] <br/><br/>
  Zip: [[+zip]] <br/><br/>
  Inquiry Reason: [[+inquiry-reason_values]]<br/><br/>
  Message: [[+message]] <br/>
</p>
