[[$head]]
[[$header]]
	<div id="content-wrap" class="wrap">
		<div id="content" class="container_12">
			<div class="grid_12">
				<div id="page" class="">
					<h1 class="contentheading">[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
					<!-- START CONTENT AREA -->
					<table class="noborders" border="0">
						<tbody>
						<tr>
						<td>
						<p>For more information about Southern Ice Cream Corp. services and the products we distribute please contact us at:</p>
						<iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Southern+Ice+Cream,+Corp.+13755+Greenland+Dr.+Stafford,+TX+77477&amp;aq=&amp;sll=29.621399,-95.562781&amp;sspn=0.000944,0.001742&amp;vpsrc=6&amp;ie=UTF8&amp;hq=Southern+Ice+Cream,+Corp.&amp;hnear=13755+Greenland+Dr,+Stafford,+Texas+77477&amp;t=h&amp;ll=29.623142,-95.559361&amp;spn=0.005092,0.008068&amp;z=16&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="425" height="273"></iframe><br /><small><a style="color: #0000ff; text-align: left;" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Southern+Ice+Cream,+Corp.+13755+Greenland+Dr.+Stafford,+TX+77477&amp;aq=&amp;sll=29.621399,-95.562781&amp;sspn=0.000944,0.001742&amp;vpsrc=6&amp;ie=UTF8&amp;hq=Southern+Ice+Cream,+Corp.&amp;hnear=13755+Greenland+Dr,+Stafford,+Texas+77477&amp;t=h&amp;ll=29.623142,-95.559361&amp;spn=0.005092,0.008068&amp;z=16">View Larger Map</a></small>
						</td>
						<td>
						[[-!+fi.successMessage]]
						Do you have a question or comment about a Southern Ice Cream product or service? Please call 281-499-9837. <!-- Please complete the form below and we will respond in a timely manner. -->
						
						<p><strong><br />Southern Ice Cream, Corp.</strong><br />13755 Greenland Dr. <br />Stafford, TX 77477</p>
						<p>P: 281-499-9837 <br />F: 281-499-6415</p>
						<p>info@southernicecreamtx.com</p>
						<p><strong>Business Hours: </strong><br />7 Days a Week! Mon-Fri. 8am-4pm and Sat.-Sun. 8am-1pm.</p>
						<p>Employment opportunities: We are always accepting applications and resumes.</p>
						<p> </p>
						
						[[-!FormIt?
                &hooks=`spam,fiProcessArrays,FormSave,email`
                &emailTo=`[[*contact_email]]`
                &emailTpl=`tpl-email_contact`
                &emailSubject=`You have received a submission from [[++site_url]]`
                &emailFrom=`noreply@southernicecreamtx.com`
                &clearFieldsOnSuccess=`0`
                &fsFormTopic=`contact`
                &successMessage=`<span class="success">Your form has been submitted.</span><br />`
                &fsFormTopic=`contact`
                &store=`1`
                &storeTime=`1800`
                &validate=`
                username:blank,
                email:email:required,
                full-name:required,
                business-name:required,
                inquiry-reason_values:required,
                zip:required,
                phone:required,
                message:required`
              ]]
              [[!FormItRetriever]]
						
<!--
						<form id="contact_form" method="post" action="[[~[[*id]]]]"><fieldset><ol>
						<input type="hidden" name="inquiry-reason_values[]" value="" />
						<input type="hidden" name="username" value="" />
						[[!+fi.error.full-name]]
						<li><label for="full-name">Full Name <span style="color: red;">*</span></label> <input id="full-name" class="inputbox" type="text" name="full-name" value="[[!+fi.full-name]]"  /></li>
						[[!+fi.error.business-name]]
						<li><label for="business-name">Business Name <span style="color: red;">*</span></label> <input id="business-name" class="inputbox" type="text" name="business-name" [[!+fi.business-name]] /></li>
						[[!+fi.error.email]]
						<li><label for="email">Email <span style="color: red;">*</span> </label> <input id="email" class="inputbox" type="text" name="email" [[!+fi.email]] /></li>
						[[!+fi.error.phone]]
						<li><label for="phone">Phone Number <span style="color: red;">*</span> </label> <input id="phone" class="inputbox" type="text" name="phone" [[!+fi.phone]] /></li>
						[[!+fi.error.address]]
						<li><label for="address">Address </label> <input id="address" class="inputbox" type="text" name="address" [[!+fi.address]] /></li>
						[[!+fi.error.city]]
						<li><label for="city">City </label> <input id="city" class="inputbox" type="text" name="city" [[!+fi.city]] /></li>
						[[!+fi.error.state]]
						<li><label for="state">State </label> <input id="state" class="inputbox" type="text" name="state" [[!+fi.state]] /></li>
						[[!+fi.error.zip]]
						<li><label for="zip">Zip Code <span style="color: red;">*</span></label> <input id="zip" class="inputbox" type="text" name="zip" [[!+fi.zip]] /></li>

						<li><fieldset class="checkbox-group" style="margin-right: 48px;">
						[[!+fi.error.inquiry-reason_values]]
						<legend>Reason for inquiry <span style="color: red;">*</span> </legend>
						<label for="general_interest"> <input id="general_interest" type="checkbox" name="inquiry-reason_values[]" value="general_interest" [[!+fi.inquiry-reason_values:FormItIsChecked=`general_interest`]] /> General Interest</label>
						<label for="special_events"> <input id="special_events" type="checkbox" name="inquiry-reason_values[]" value="special_events"[ [!+fi.inquiry-reason_values:FormItIsChecked=`special_events`]] /> Special Events</label>
						<label for="food_service"> <input id="food_service" type="checkbox" name="inquiry-reason_values[]" value="food_service" [[!+fi.inquiry-reason_values:FormItIsChecked=`food_service`]] /> Food Service</label><label for="vendors"> <input id="vendors" type="checkbox" name="inquiry-reason_values[]" value="vendors" [[!+fi.inquiry-reason_values:FormItIsChecked=`vendors`]] /> Vendors</label></fieldset></li>
						[[!+fi.error.message]]
						<li><label for="message">Message <span style="color: red;">*</span></label> <textarea id="message" class="textarea" name="message" rows="10" cols="50">[[!+fi.message]]</textarea></li>
						</ol></fieldset><fieldset style="padding-left: 48px;">
	
						</fieldset><button class="button" type="submit">Send Form</button></form>
-->
                  </td>
						    </tr>
						  </tbody>
						</table>
					
					
					
					<!--/END CONTENT AREA-->
				</div>
			</div><!--div.grid_12 or div.grid_9-->
			<div class="clear"></div>
		</div><!--div#content-->
		<div class="clear"></div>
	</div><!--div#content-wrap-->
</div><!--div#page-wrap-->
[[$footer]]