[[$head]]
[[$header]]

		<div id="featured-content-wrap" class="wrap">
		<div id="featured-content" class="container_12">
			<div class="grid_12 alpha omega">
						<div class="moduletable ">
						<div id="slidewrap">
		<div id="slideshow"></div>
		<div id="loadingDiv"></div>
	</div>
		</div>
	
			</div>
			<!--div.grid_12.alpha.omega-->
			<div class="clear"></div>
		</div>
		<!--div#featured-content-->
	</div>
	<!--div#featured-content-wrap-->
		


    	<div id="popular-items-wrap" class="wrap">
		<div id="popular-items" class="container_12">
			<div class="grid_12">
						<div class="moduletable  alpha omega">
					<p class="popular-items-title">POPULAR ITEMS</p>
<p class="click-for-products"><a href="/special-events">Click</a> To See Available Products</p>
<p><br style="clear: both;" /></p>
<hr />
<p><img style="float: left;" alt="Big-Dipper" src="/assets/img/images/home/Big-Dipper.jpg" width="75" height="96" /><img style="float: left;" alt="Big-Neopolitan" src="/assets/img/images/home/Big-Neopolitan.jpg" width="84" height="96" /><img style="float: left;" alt="Bomb-Pop-Original" src="/assets/img/images/home/Bomb-Pop-Original.jpg" width="72" height="96" /><img style="float: left;" alt="Chips-Galore" src="/assets/img/images/home/Chips-Galore.jpg" width="81" height="96" /><img style="float: left;" alt="Bomb-Pop" src="/assets/img/images/home/Bomb-Pop.jpg" width="77" height="96" /><img style="float: left;" alt="Tweety" src="/assets/img/images/home/Tweety.jpg" width="87" height="96" /><img style="float: left;" alt="Chill" src="/assets/img/images/home/Chill.jpg" width="71" height="96" /><img style="float: left;" alt="Froz-Fruit" src="/assets/img/images/home/Froz-Fruit.jpg" width="77" height="96" /><img style="float: left;" alt="Jolly-Rancher" src="/assets/img/images/home/Jolly-Rancher.jpg" width="80" height="96" /><img style="float: left;" alt="Turtle" src="/assets/img/images/home/Turtle.jpg" width="80" height="96" /><img style="float: left;" alt="Sponge-Bob" src="/assets/img/images/home/Sponge-Bob.jpg" width="70" height="105" /><img style="float: left;" alt="clip_image019" src="/assets/img/images/special-events/clip_image019.jpg" width="85" height="85" /></p>		</div>
	
			</div>
			<!--div.grid_12-->
			<div class="clear"></div>
		</div>
		<!--div#popular items-->
		<div class="clear"></div>
	</div>
	<!--div#popular items-wrap-->
	

    <!--div#Catgory showcase boxes-->
        	<div id="showcase-boxes-wrap" class="wrap">
		<div id="showcase-boxes" class="container_12">
			<div class="grid_4">
            	<div class="showcase-box">
						<div class="moduletable  alpha home_cta">
							[[*home_block_1]]
					
					</div>
	
                 <div class="clear"></div>
                </div>
			</div>

            <div class="grid_4">
            <div class="showcase-box">
						<div class="moduletable  alpha home_cta">
							[[*home_block_2]]
					</div>
	
                 <div class="clear"></div>
               </div>

			</div>

            <div class="grid_4">
            <div class="showcase-box">
						<div class="moduletable  alpha home_cta">
							[[*home_block_3]]
</div>
	
                 <div class="clear"></div>
               </div>
			</div>

			<!--div.grid_4-->
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
	<!--div#Category showcase boxes-->
	



	<div id="content-wrap" class="wrap">
		<div id="content" class="container_12">
											<div class="grid_12">
					
<div id="page" class="">
										[[*content]]
  </div>

				</div>
				<!--div.grid_12 or div.grid_9-->
																											<div class="clear"></div>
		</div>
		<!--div#content-->
		<div class="clear"></div>
	</div>
	<!--div#content-wrap-->

</div>
<!--div#page-wrap-->
[[$footer]]