[[$head]]
[[$header]]
	<div id="content-wrap" class="wrap">
		<div id="content" class="container_12">
			<div class="grid_12">
				<div id="page" class="">
					<h1 class="contentheading">[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
					[[*content]]
					[[*id:is=`15`:then=`[[!$form-pushcarts]]`]]
					[[*id:is=`17`:then=`[[!$form-ice_cream_truck]]`]]		
					[[*id:is=`16`:then=`[[!$form-ice_cream_sundae]]`]]					
				</div>
			</div><!--div.grid_12 or div.grid_9-->
			<div class="clear"></div>
		</div><!--div#content-->
		<div class="clear"></div>
	</div><!--div#content-wrap-->
</div><!--div#page-wrap-->
[[$footer]]