/**
 * Standard Template
 * @version		$Id: style.css 484 2010-01-22 03:53:17Z happynoodleboy $
 * @package		JCE MediaBox
 * @copyright	Copyright (C) 2009 - 2010 Ryan Demmer. All rights reserved.
 * @license		GNU/GPL
 * This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 */
.jcemediabox-popup-corner-tc, .jcemediabox-popup-corner-tr, .jcemediabox-popup-corner-bc, .jcemediabox-popup-corner-br {
	display: none;
} 

.jcemediabox-popup-corner-tl, .jcemediabox-popup-corner-bl {
	background: #ffffff none;
	width: auto;
	margin: 0;
	height: 11px;
}
.jcemediabox-popup-corner-tl {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: -1px;
}
.jcemediabox-popup-corner-bl {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: -1px;
}
#jcemediabox-popup-caption {
	margin: -1px 0;
}
#jcemediabox-popup-nav {
	margin-bottom: -1px;
}